applicant_article_title, owner_article_title, applicant_first_name, owner_first_name, applicant_email, owner_email)
<h1>Bravo <%= @applicant_first_name %> vous avez fait un échange !</h1>
  <p>
    Vous avez échangez <%= @applicant_article_title %> contre <%= @owner_article_title %>,
  </p>
<p>Bonne continuation pour les prochains échange !</p>
