<h1>Bravo <%= @owner_first_name %> vous avez fait un échange !</h1>
  <p>
    Vous avez échangez <%= @owner_article_title %> contre <%= @applicant_article_title %>,
  </p>
<p>Bonne continuation pour les prochains échange !</p>
